body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel .slide img {
  max-height: 620px; /* change this to whatever you want */
  object-fit: cover;
}
