body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel .slide {
  width: 300px;
}

.rotate {
  animation: rotatelogo 5s linear infinite;
}

@keyframes rotatelogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.control-dots {
  display: none;
}

@media (max-width: 768px) {
  .carousel .slider-wrapper {
    height: 800px;
  }

  .carousel .slider .selected {
    width: auto;
  }

  .carousel .slide img {
  }

  #homePageSliderImg {
    display: none;
  }
}
